<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.developer.networking.networkextension</key>
    <array>
        <string>packet-tunnel</string>
        <string>app-proxy</string>
        <string>content-filter</string>
        <string>dns-proxy</string>
    </array>
    <key>com.apple.security.application-groups</key>
    <array>
        <string>group.com.crossutility.quantumult-x</string>
        <string>group.com.app.silver9175.tomato8924</string>
    </array>
    <key>com.apple.developer.networking.HotspotConfiguration</key>
    <true/>
    <key>keychain-access-groups</key>
    <array>
        <string>$(AppIdentifierPrefix)com.crossutility.quantumult-x</string>
        <string>$(AppIdentifierPrefix)com.app.silver9175.tomato8924</string>
    </array>
</dict>
</plist>
